/* Estilos en General */
body {
    padding: 2rem;
    text-align: center;
}

a {
  margin: 20px 35px;
  display: inline-block;
  text-align: center;
  background-color: #050000;
  color: white;
  padding: 1px 70px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
  transition: background-color 0.3s ease;
}
a:hover {
  background-color: #fa0202;
  color: #fff;
transition: background-color 0.3s ease;
}

/* Estilo solo para index.html */
body.index {
    background-color:bisque;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
img{
  width: 20%;
  height: auto;
  margin: auto;
  display: block;
  border: 22px solid black;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
}

/* Estilo solo para Portafolio.html */
body.Portafolio {
    background-color: bisque;
    color: #0e0101;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

.contenedor-img{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.img{
  width: 41%;
  height: 400px;
  object-fit: cover;
  border: 22px solid black;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
}

/* Estilo solo para Sobre-mi.html */
body.Sobre-mi {
    background-color: bisque;
    color: #0a0000;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

.mi-tabla {
    width: 30%;
    margin: 20px auto;
    color: black;
    border: 2px solid black;
    border-color: black;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}
